<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PicSum.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PicSum.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <PicSum.Main.Properties.Settings>
      <setting name="BrowserWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="BrowserLocation" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="BrowserSize" serializeAs="String">
        <value>800, 600</value>
      </setting>
      <setting name="FileListContentsThumbnailSize" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="FileListContentsIsShowFileName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileListContentsIsShowImageFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileListContentsIsShowFolder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImageViewerContentsImageDisplayMode" serializeAs="String">
        <value>Single</value>
      </setting>
      <setting name="ImageViewerContentsImageSizeMode" serializeAs="String">
        <value>FitAllImage</value>
      </setting>
      <setting name="FileListContentsIsShowOthereFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportFolderPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="FileListContentsFavoriteFolderCount" serializeAs="String">
        <value>10</value>
      </setting>
    </PicSum.Main.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PicSum.Main.Properties.Settings>
      <setting name="IsWriteLog" serializeAs="String">
        <value>False</value>
      </setting>
    </PicSum.Main.Properties.Settings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
</configuration>
