<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="traceLayout"
            value="${longdate} [${level:padding=-5}] [${threadname}] ${message:withexception=true}"  />

  <variable name="debugLayout"
            value="${longdate} [${level:padding=-5}] [${threadname}] ${message} ${exception:format=tostring}" />

  <targets>

	<target name="traceLogFile"
			xsi:type="File"
			fileName="log\NLog.log"
			layout="${traceLayout}"
			archiveFileName="log/${date:format=yyyyMMdd}/{###}.log"
            archiveAboveSize="102400"
            archiveNumbering="Sequence"
			/>

	<target name="debugLogConsole"
			xsi:type="Console"
			layout="${debugLayout}"
			/>

  </targets>

  <rules>
	<logger name="*" minlevel="Trace" writeTo="traceLogFile" />
	<!--<logger name="*" minlevel="Debug" writeTo="debugLogConsole" />-->
  </rules>

</nlog>